div {
  background-color: rgb(193, 102, 102);
  padding: 20px;
  p {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
