ul {
  display: flex;
  list-style: none;
  gap: 10px;
  background-color: black;
  padding: 20px;
}
.seeUser {
  padding: 15px 30px;
  border: none;
  color: #ffffff;
  background-color: rgb(190, 48, 48);
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}
